.header {
  display: flex;
  margin-right: 200px;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  color: #fff;
}
body {
  background: #0f0f0f;
  color: #fff;
}
a {
  color: #fff;
}
.App {
  max-width: 1200px;
  margin: 0 auto;
}
.cart__cantity {
  margin-right: 20px;
}
.cart {
  display: flex;
}

